.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.map { height: 400px; }

ul{
  list-style: none;
}
.grid{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}
.header{
  color: white;
}
.grid > div{
  background:#eee;
  padding: 1em;
}
.grid> div:nth-child(odd){
  background: black;
}
.form{
  display:grid;
}
.map{
  grid-column: 1/3

}
.display{
  grid-column: 1/4;
  grid-row: 3/4;
}
.credit{
  padding-top: 5em;
  bottom: 0
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
